	<tr>
	 <td>{{ apiCall.id }}</td>
	 <td> <span class="pill ">{{ apiCall.altTextSyncStatus }}</span></td>
	 <td>
		 {% if apiCall.assetId %}
			 {% set asset = craft.assets.id(apiCall.assetId).one() %}
			  {% if asset %}
			  {% if asset.canView(currentUser) %}<a href="{{ asset.cpEditUrl }}">{% endif %}
			  <img src="{{ asset.getUrl(thumb) }}" style="width:75px;height:75px; margin-bottom:10px;" alt="{{ asset.alt }}" />
			  {% if asset.canView(currentUser) %}</a>{% endif %}
			{% endif %}
		  {% endif %}
		 
	 </td>
	 <td>
		 {% if asset %}
		 <div class="alt-text-block">
			  <div class="alt-text-block-header">
				  <label><strong>Current:</strong></label>
			 </div>
			  <div>

			   	{% if settings.customField  %}
				  	{% if asset.alt %}
					  {{ asset.alt }}
					{% else %}
						 No alt text
				 	{% endif %}
				{% elseif asset.getFieldLayout().getFieldByHandle( settings.customField ) %}

					{% if {{ _context[ settings.customField ]  }} %}
					  {{ _context[ settings.customField ]  }}
					{% else %}
						 No alt text
				 	{% endif %}

				{% endif %}
				 
			  </div>
		 </div>
		 {% endif %}
		 {% if apiCall.originalAltText %}
		 <div class="alt-text-block">
			 <div class="alt-text-block-header">
				 <label><strong>Original:</strong></label>
				 
				 {% if currentUser.can('altTextGeneratorSyncAltText') %}
				<label>
				  <input type="radio"  name="assets[{{ apiCall.id }}]" value="originalSync"> Sync
				</label>
				{% endif %}
			</div>
			 <div>
			 {{ apiCall.originalAltText }}
			 
			 </div>
		</div>
		{% endif %}
		<div class="alt-text-block">
			<div class="alt-text-block-header">
				<label><strong>Generated:</strong></label> 
				{% if currentUser.can('altTextGeneratorSyncAltText') %}
				<div class="">
				 	<a href="#generatedAltText{{ apiCall.id }}" class="alt-text-edit-button" onclick="var editTextArea = document.getElementById('generatedAltText{{ apiCall.id }}'); editTextArea.disabled=false;">Edit</a>
					<label>
				  		<input type="radio"  name="assets[{{ apiCall.id }}]" value="generatedSync"> Sync
					</label>
				</div>
				{% endif %}
			</div>
			<textarea disabled name="altTextUpdates[generatedAltText][{{ apiCall.id }}]" id="generatedAltText{{ apiCall.id }}" class="alt-text-block-textarea">{{ apiCall.generatedAltText }}</textarea>
		</div>
		
		
		{% if apiCall.humanGeneratedAltText  %}
		<div class="alt-text-block">
			<div class="alt-text-block-header">
				 <label><strong>Human Generated:</strong></label>
				 {% if currentUser.can('altTextGeneratorSyncAltText') %}
				<div class="">
				 	<a href="#humanGeneratedAltText{{ apiCall.id }}" class="alt-text-edit-button" onclick="var editTextArea = document.getElementById('humanGeneratedAltText{{ apiCall.id }}'); editTextArea.disabled=false;">Edit</a>
					<label>
				  		<input type="radio"  name="assets[{{ apiCall.id }}]" value="humanGeneratedSync"> Sync
					</label>
				</div>
				{% endif %}
			</div>
			 <textarea disabled name="altTextUpdates[humanGeneratedAltText][{{ apiCall.id }}]" id="humanGeneratedAltText{{ apiCall.id }}" class="alt-text-block-textarea">{{ apiCall.humanGeneratedAltText }}</textarea>
		
		</div>
		{% elseif apiCall.humanAltTextSyncStatus == "requested" %}
			<div class="alt-text-block">
				<div class="alt-text-block-header">
					 <label><strong>Human review requested</strong>{% if not settings.webhookSetInAccount  and currentUser.can('altTextGeneratorRequestRefresh') %}
						<br /> -  You'll need to manually request details to get the human reviews alt text
					  {% endif %}</label>
				</div>
			</div>
		{% endif %}
	</td>

	<td class="alt-text-block-actions">	
	{% if apiCall.humanAltTextSyncStatus %}
		{% if apiCall.humanAltTextSyncStatus == "requested" %}
			<span class="pill">Human review requested</span><br />
			
		{% endif %}
	{% else %}
	{#
		{% if settings.showHumanReview and currentUser.can('altTextGeneratorHumanReview') %}
		<label>
		<input type="radio"  name="assets[{{ apiCall.id }}]" value="requestHuman">  Request&nbsp;human&nbsp;review
		</label>
		{% endif %}
		#}
	{% endif %}
		{% if settings.showHumanReview and currentUser.can('altTextGeneratorHumanReview') and currentUser.can('altTextGeneratorRequestRefresh') %}
		<br />
		{% endif %}
		{% if currentUser.can('altTextGeneratorRequestRefresh') %}
		<label>
		<input type="radio"  name="assets[{{ apiCall.id }}]" value="requestRefresh">  Refresh&nbsp;details
		</label>
		<label><br />
		<input type="radio"  name="assets[{{ apiCall.id }}]" value="requestResubmit">  Resubmit image
		</label>
		{% endif %}
		{% if currentUser.can('altTextGeneratorDelete') %}
		<br />
		<label>
		<input type="radio"  name="assets[{{ apiCall.id }}]" value="delete">  Delete&nbsp;record
		</label>
		{% endif %}
		<br >
		<label>
			<input type="radio"  name="assets[{{ apiCall.id }}]" value="cancel">  Cancel
		</label>
	</td>
	
</tr>