	<tr>
	 <td>{{ apiCall.id }}</td>
	 <td> <span class="pill ">{{ apiCall.altTextSyncStatus }}</span></td>
	 <td>
		 {% if apiCall.assetId %}
			 {% set asset = craft.assets.id(apiCall.assetId).one() %}
			  {% if asset %}
			  {% if asset.canView(currentUser) %}<a href="{{ asset.cpEditUrl }}">{% endif %}
			  <img src="{{ asset.getUrl(thumb) }}" style="width:75px;height:75px; margin-bottom:10px;" alt="{{ asset.alt }}" />
			  {% if asset.canView(currentUser) %}</a>{% endif %}
			{% endif %}
		  {% endif %}
		 
	 </td>
	 <td>
		 {% if asset %}
		 <div class="alt-text-block">
			  <div class="alt-text-block-header">
				  <label><strong>Current:</strong></label>
			 </div>
			  <div>
				  {% if asset.alt %}
					  {{ asset.alt }}
				 {% else %}
					 No alt text
				 {% endif %}
			  </div>
		 </div>
		 {% endif %}
		 {% if apiCall.originalAltText %}
		 <div class="alt-text-block">
			 <div class="alt-text-block-header">
				 <label><strong>Original:</strong></label>
				 
				 {% if currentUser.can('altTextGeneratorSyncAltText') %}
				<label>
				  <input type="radio"  name="assets[{{ apiCall.id }}]" value="originalSync"> Sync
				</label>
				{% endif %}
			</div>
			 <div>
			 {{ apiCall.originalAltText }}
			 
			 </div>
		</div>
		{% endif %}
		<div class="alt-text-block">
			<div class="alt-text-block-header">
				 <label><strong>Generated:</strong></label> 
				 {% if currentUser.can('altTextGeneratorSyncAltText') %}
				<label>
				  <input type="radio"  name="assets[{{ apiCall.id }}]" value="generatedSync"> Sync
				</label>
				{% endif %}
			</div>
			<div>
			 {{ apiCall.generatedAltText }}
			 </div>
		</div>
		
		
		{% if apiCall.humanGeneratedAltText  %}
		<div class="alt-text-block">
			<div class="alt-text-block-header">
				 <label><strong>Human Generated:</strong></label>
				 {% if currentUser.can('altTextGeneratorSyncAltText') %}
				<label>
				  <input type="radio"  name="assets[{{ apiCall.id }}]" value="humanGeneratedSync"> Sync
				</label>
				{% endif %}
			</div>
			<div>
			 {{ apiCall.humanGeneratedAltText }}
			 </div>
		</div>
		{% elseif apiCall.humanAltTextSyncStatus == "requested" %}
			<div class="alt-text-block">
				<div class="alt-text-block-header">
					 <label><strong>Human review requested</strong>{% if not settings.webhookSetInAccount  and currentUser.can('altTextGeneratorRequestRefresh') %}
						<br /> -  You'll need to manually request details to get the human reviews alt text
					  {% endif %}</label>
				</div>
			</div>
		{% endif %}
	</td>

	<td class="alt-text-block-actions">	
	{% if apiCall.humanAltTextSyncStatus %}
		{% if apiCall.humanAltTextSyncStatus == "requested" %}
			<span class="pill">Human review requested</span><br />
			
		{% endif %}
	{% else %}
		{% if settings.showHumanReview and currentUser.can('altTextGeneratorHumanReview') %}
		<label>
		<input type="radio"  name="assets[{{ apiCall.id }}]" value="requestHuman">  Request&nbsp;human&nbsp;review
		</label>
		{% endif %}
	{% endif %}
		{% if settings.showHumanReview and currentUser.can('altTextGeneratorHumanReview') and currentUser.can('altTextGeneratorRequestRefresh') %}
		<br />
		{% endif %}
		{% if currentUser.can('altTextGeneratorRequestRefresh') %}
		<label>
		<input type="radio"  name="assets[{{ apiCall.id }}]" value="requestRefresh">  Refresh&nbsp;details
		</label>
		<label><br />
		<input type="radio"  name="assets[{{ apiCall.id }}]" value="requestResubmit">  Resubmit image
		</label>
		{% endif %}
		{% if currentUser.can('altTextGeneratorDelete') %}
		<br />
		<label>
		<input type="radio"  name="assets[{{ apiCall.id }}]" value="delete">  Delete&nbsp;record
		</label>
		{% endif %}
		<br >
		<label>
			<input type="radio"  name="assets[{{ apiCall.id }}]" value="cancel">  Cancel
		</label>
	</td>
	<td>
	{% if apiCall.altTextSyncStatus == "errors" %}
		{% set response = apiCall.response %}
		{% set responseObject = response|json_decode %}
		{% if responseObject and responseObject.errors %}
		<table>
			<thead>
			<tr>
				<th style="">Error&nbsp;type</th>
				<th>Error&nbsp;details</th>
			</tr>
			</thead>
			<tbody>
			{% for errorType, errorDetails in responseObject.errors %}
			<tr>
				<td style="vertical-align: top;"><b>{{ errorType }}</b></td>
				<td style="vertical-align: top;">
				{% for errorDetail in errorDetails %}
				{{ errorDetail }}{% if not loop.last %}, {% endif %}
				{% endfor %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}

	{% endif %}
	</td>
</tr>