{% import "_includes/forms" as forms %}
{% set altTextApiStatus = craft.app.cache.get('altTextApiStatus') %}
{% set altTextApiError = craft.app.cache.get('altTextApiError') %}
{% set altTextApiName = craft.app.cache.get('altTextApiName') %}


{% if altTextApiStatus %}
<div class="">
	<p>
	<b>Your API account</b>
	<br />
	Name: {{ altTextApiName }}<br />
	Status: {{ altTextApiStatus }}
</div>
{% endif %}


{% if altTextApiError %}
<div class="" style="padding:10px; border: 1px solid #f00;">
	<p>
	<b>There is a problem with your API connection</b>
	<br />

	{{ altTextApiError }}
</div>
{% endif %}



<h2>Credits remaining</h2>

<p>
{{ apiCreditsCount }} credits
</p>

<form id="refresh-api-token-count class="utility" method="post" accept-charset="UTF-8">
	{{ actionInput('alt-text-generator/cp/refresh-api-token-count') }}
	{{ csrfInput() }}

	<div class="buttons">
		<button type="submit" class="btn submit">{{ 'Refresh credits count' }}</button>

	</div>
</form>

<hr>

<h2>Queue images for alt text generation</h2>
<p>(which haven't already been queued and are waiting for review)</p>


<form id="alt-text-generator-queue" class="utility" method="post" accept-charset="UTF-8">
	{{ actionInput('alt-text-generator/cp/queue-images') }}
	{{ csrfInput() }}

	{{ forms.checkbox({
		name: 'generateForNoAltText',
		id: 'generateForNoAltText',
		label: 'Queue all images with no alt text ',
		checked: true,
	}) }}
	<br />
	{{ forms.checkbox({
		name: 'generateForAltText',
		id: 'generateForAltText',
		label: 'Queue all images with alt text',
		checked: false,
	}) }}

	<br /> <br />
	{{ forms.checkbox({
		name: 'overwrite',
		id: 'overwrite',
		label: 'Resubmit assets that have already been sent to alttext.ai and overwrite the results',
		checked: false,
	}) }}

	<div class="buttons">
		<button type="submit" class="btn submit">{{ 'Queue Images' }}</button>
	</div>
</form>



<hr>

<h2>Resync all images</h2>

<p>This will update all images' alt text with the generated alt text where the image has previously been submitted and alt text has synced and is not currently in review or being refreshed. This can be helpful if you are changing the field you are using for your alt text.
</p>
<p>Images are resynced via the queue.</p>
<p>This doesn't submit any images to altText.ai</p>
<form id="resync-all-assets" class="utility" method="post" accept-charset="UTF-8">
	{{ actionInput('alt-text-generator/cp/queue-all-images-for-resync') }}
	{{ csrfInput() }}

	<div class="buttons">
		<button type="submit" class="btn submit">{{ 'Resync all images' }}</button>
	</div>
</form>


<hr>



<h2>AltText.ai hook url</h2>


<p>Each api request is sent with it's own web hook url so the same account can be used on multiple sites. but if you would like to add the web hook to your alttext.ai account use this url. (If you are planning to use the human review function then you must use this url in your alttext.ai account)
</p>


{{ forms.text({
	name: 'webhookUrl',
	id: 'webhookUrl',
	label: 'Alttext.ai hook url',
	value: webhookUrl,
}) }}








